/*---------- Footer ----------*/
footer {
    min-height: 120px;
}

.footer-align {
    vertical-align: text-bottom;
    text-align: center;
}

.footer-text {
    font-family: 'Exo', sans-serif;
    color: #fafafa;
}

h2.footer-text {
    font-size: 22px;
    font-weight: 600;
}

h3.footer-text,
span.year {
    font-size: 18px;
    font-weight: 500;
}

.fa-copyright {
    padding-right: 5px;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

.footer-details {
    margin: 20px;
}
