/*----------- Background Colors ----------*/
.bg-header-color {
    background-color: #ffffff;
}

.bg-body-color,
.ui-menu-color,
.bg-dropdown-menu-color,
.bg-footer-color {
    background-color: #525252;
}

.bg-section-color {
    background-color: #f4f4f4;
}

.ui-booking-confirmed {
    background-color: #8f8f8f;
    padding: 20px;
}

/*---------- Special Formatting ----------*/
.block {
    display: block;
}

.bold {
    font-weight: bold;
}

.content-wrapper {
    max-width: 100%;
    margin: 0 auto;
}

.booking-confirmed {
    display: none;
}
