/*---------- Header ----------*/
.heading{
    margin-left: 50px;
}

.logo {
    background: url("../images/monkees.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

/*---------- Menu ----------*/
#nav {
    margin: 0;
}

#nav li {
    padding: 0;
}

.menuitem {
    height: 100px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 100px;
}

.menuitem a i.icon {
   padding-top: 22px;
   display: block;
   color: #fafafa;
   font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}

/*---------- Hover.css ----------*/
.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: inherit;
}
