/*---------- Media Queries ----------*/
@media(min-width: 576px){
    .logo {
        min-height: 360px;
        background-size: contain;
    }

    .content-wrapper {
        max-width: 100%;
        margin: 0 auto;
    }
}

@media(min-width: 768px){
    .logo {
        min-height: 400px;
    }

    .content-wrapper {
        max-width: 90%;
        margin: 0 auto;
    }
}

@media(min-width: 992px){
    .logo {
        min-height: 450px;
        background-size: contain;
    }

    .content-wrapper {
        max-width: 70%;
        margin: 0 auto;
    }
}
