/*---------- Section ----------*/
section {
    padding: 20px 30px;
}

.section-grid {
    padding-bottom: 15px;
}

.section-text,
.section-discount,
.section-confirm {
    font-family: 'Exo', sans-serif;
}

h1.section-text {
    font-size: 32px;
    font-weight: 600;
}

h2.section-text {
    font-size: 22px;
    font-weight: 600;
}

p.section-text,
input.section-text,
select.section-text {
    font-size: 18px;
    font-weight: 400;
}

label.section-text {
    font-size: 18px;
    font-weight: 600;
}

h2.section-form-heading {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 600;
    border-bottom: 2px solid #525252;
}

p.section-discount {
    font-size: 18px;
    font-weight: 600;
}

p.section-confirmed {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

span.btn-text {
    font-family: 'Exo', sans-serif;
    font-size: 18px;
    font-weight: 600;
}
