/*----------- Font Imports ----------*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*----------- Background Colors ----------*/
.bg-header-color {
    background-color: #ffffff;
}

.bg-body-color,
.ui-menu-color,
.bg-dropdown-menu-color,
.bg-footer-color {
    background-color: #525252;
}

.bg-section-color {
    background-color: #f4f4f4;
}

.ui-booking-confirmed {
    background-color: #8f8f8f;
    padding: 20px;
}

/*---------- Special Formatting ----------*/
.block {
    display: block;
}

.bold {
    font-weight: bold;
}

.content-wrapper {
    max-width: 100%;
    margin: 0 auto;
}

.booking-confirmed {
    display: none;
}


/*---------- Header ----------*/
.heading{
    margin-left: 50px;
}

.logo {
    background: url("../images/monkees.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

/*---------- Menu ----------*/
#nav {
    margin: 0;
}

#nav li {
    padding: 0;
}

.menuitem {
    height: 100px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 100px;
}

.menuitem a i.icon {
   padding-top: 22px;
   display: block;
   color: #fafafa;
   font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}

/*---------- Hover.css ----------*/
.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: inherit;
}

/*---------- Section ----------*/
section {
    padding: 20px 30px;
}

.section-grid {
    padding-bottom: 15px;
}

.section-text,
.section-discount,
.section-confirm {
    font-family: 'Exo', sans-serif;
}

h1.section-text {
    font-size: 32px;
    font-weight: 600;
}

h2.section-text {
    font-size: 22px;
    font-weight: 600;
}

p.section-text,
input.section-text,
select.section-text {
    font-size: 18px;
    font-weight: 400;
}

label.section-text {
    font-size: 18px;
    font-weight: 600;
}

h2.section-form-heading {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 600;
    border-bottom: 2px solid #525252;
}

p.section-discount {
    font-size: 18px;
    font-weight: 600;
}

p.section-confirmed {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

span.btn-text {
    font-family: 'Exo', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

/*---------- Footer ----------*/
footer {
    min-height: 120px;
}

.footer-align {
    vertical-align: text-bottom;
    text-align: center;
}

.footer-text {
    font-family: 'Exo', sans-serif;
    color: #fafafa;
}

h2.footer-text {
    font-size: 22px;
    font-weight: 600;
}

h3.footer-text,
span.year {
    font-size: 18px;
    font-weight: 500;
}

.fa-copyright {
    padding-right: 5px;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

.footer-details {
    margin: 20px;
}

/*---------- Media Queries ----------*/

@media(min-width: 576px){
    .logo {
        min-height: 360px;
        background-size: contain;
    }
    
    .content-wrapper {
        max-width: 100%;
        margin: 0 auto;
    }
}

@media(min-width: 768px){
    .logo {
        min-height: 400px;
    }
    
    .content-wrapper {
        max-width: 90%;
        margin: 0 auto;
    }
}

@media(min-width: 992px){
    .logo {
        min-height: 450px;
        background-size: contain;
    }
    
    .content-wrapper {
        max-width: 70%;
        margin: 0 auto;
    }
}
